body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0 10%;
}

.container {
  border: 2px solid #3B3C36;
  padding: 5px;
  margin: 20px auto;
  border-radius: 10px;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 45%;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}

.black {
  background-color: #3B3C36;
  color: #FBFBFB;
  border: solid 2px #3B3C36;
}

.red {
  background-color: #FF5757;
  color: #FBFBFB;
  float: right;
  border: solid 2px #3B3C36;
}

.maroon {
  background-color: #800000;
  color: #FBFBFB;
  border: solid 2px #3B3C36;
}

.white {
  background-color: #FBFBFB;
  color: #3B3C36;
  border: solid 2px #3B3C36;
  float: right;
}

h1 {
  text-align: center;
  border-top: 3px solid #3B3C36;
  border-bottom: 3px solid #3B3C36;
  border-radius: 4px;
  font-size: 40px;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
}

.font-panel {
  width: 100%;
  display: block;
  flex-wrap: wrap;
  text-align: center;
  border: 2px solid #3B3C36;
  border-radius: 10px;
  margin: 10px 0;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

.regular {
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.jet-brains {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
}

.abel {
  font-family: "Abel", sans-serif;
  font-size: 24px;
}